<div class="container">
  <div class="col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" class="form-control" type="email" formControlName="email">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" class="form-control" type="password" formControlName="password">
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid || isLoading">LOGIN</button>
    </form>

    <div *ngIf="token" class="alert alert-primary" role="alert">
      TOKEN: {{ token }}
    </div>
  </div>

  <hr>

  <div>
    <div *ngIf="token">
      <div>
        <button class="btn btn-primary" (click)="getUsers()" [disabled]="isLoading">GET USERS</button>
      </div>

      <br>

      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">
                <input type="checkbox" [(ngModel)]="masterSelected" value="m1" (change)="checkUncheckAll()">
              </th>
              <th scope="col">InternalID</th>
              <th scope="col">Email</th>
              <th scope="col">Hidden</th>
              <th scope="col">IsInTradeShowMode</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersList">
              <td><input type="checkbox" [(ngModel)]="user.isSelected" value="{{user.InternalID}}" (change)="isAllSelected()" ></td>
              <td>{{ user.InternalID }}</td>
              <td>{{ user.Email }}</td>
              <td>{{ user.Hidden }}</td>
              <td>{{ user.IsInTradeShowMode }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>

      <div *ngIf="usersList.length > 0">
        <div>
          <button class="btn btn-primary" (click)="getUsersLogs()" [disabled]="isLoading">GET USERS LOGS</button>
        </div>

        <br>

        <div *ngIf="usersListLogs">
          <table class="table table-striped">
            <tr>
              <th scope="col">InternalID</th>
              <th scope="col">Logs</th>
            </tr>
            <tr *ngFor="let user of usersSelectedList">
              <td>{{ user.InternalID }} - {{ user.Email }}</td>
              <td>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ClientType</th>
                      <th scope="col">Device</th>
                      <th scope="col">DeviceID</th>
                      <th scope="col">DeviceOSVersion</th>
                      <th scope="col">LastAccessDateTime</th>
                      <th scope="col">LastSuccesfulSyncDateTime</th>
                      <th scope="col">PepperiVersion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let log of usersListLogs[user.InternalID]">
                      <td>{{ log.ClientType }}</td>
                      <td>{{ log.Device }}</td>
                      <td>{{ log.DeviceID }}</td>
                      <td>{{ log.DeviceOSVersion }}</td>
                      <td>{{ log.LastAccessDateTime }}</td>
                      <td>{{ log.LastSuccesfulSyncDateTime }}</td>
                      <td>{{ log.PepperiVersion }}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>